# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.venv*/
venv/
ENV/

# Env files
.env
.env.*
!.env.example

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
